{%extends "users/base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Post project</title>
</head>
<body>

        {% block content %}
        <br><br><br>
        <div class="container">

                {%for project in projects%}
                <div class="col-md-6">
                    {% if user_profile%}
                    <div class="row">
                      
                      <img src="{{user_profile.profile_pic.url}}" class="img-responsive img-circle" alt="" style="width:50px;height:50px;border-radius:118px;">
                        <h6><strong>{{user_profile.user.username}}</strong></h6>
                    </div>
                    
                    {%endif%}
                     <h4 style="text-align: center;font-family: Great Vibes;"><strong>Title:</strong> {{project.title}}</h4><br>
                     <a href="{{project.link}}" target="_blank">
                    <img src="{{project.image.url}}" class="img-responsive" alt="{{project.title}}" style="width: 370px; height: 300px;">
                   </a>
                    <a class="far fa-comment" href="{% url 'new-comment' project.id%}"></a><br>
                    <h4 style="text-align: center;font-size: 20px;font-family: Great Vibes;"><strong>{{project.user.username}}: </strong>
                        <span>
                          {% autoescape on %}
                                {{project.description| safe}}
                               {% endautoescape %}
                              </span> </h4>

                    
                          <p style="text-align: center;font-size: 20px;font-family: Great Vibes;">{{project.pub_date|timesince}}</p>
              
                          {% for com in image.comment_set.all %}
                          <span><p><strong>{{com.user.username}}:</strong> {{com.comment}}</p></span>
                          {%endfor%}
                    
        
            
            </div>
                {%endfor%}



        </div><hr>


        {% endblock %}
    
    </body>
    </html>      



