{%extends "users/base.html"%}

{% block content %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container">
   
<div class="row">
  
  {%if user_profile%}

<div class="col-md-5">

<img src="{{user_profile.profile_pic.url}}" class="img-responsive img-circle center-block" alt="" style="width: 200px; height: 200px;">

<br>


<h4 style="text-align: center"><strong> {{user_profile.full_name}}</strong></h4><br>

<h4 style="text-align: center">
  {% autoescape on %}
        {{user_profile.bio| safe}}
       {% endautoescape %}
</h4>


<h4 style="text-align: center"><strong>Email address:</strong> {{user_profile.email}}</h4>
<h4 style="text-align: center"><strong>Phone number:</strong> {{user_profile.phone_number}}</h4>


<br>
</div>


       

    <div class="row">
      <div class="col-md-4">
          <h4>{{user_profile.user.username}}</h4>

      </div>

      <div class="col-md-4">
          <a href="{%url 'edit-profile'%}"><button type="submit" class="btn btn-default">Edit Profile</button></a>
      </div>
        
        
      <div class="col-md-4">
        <div class="dropdown">
          <button type="button" class="dropdown-toggle" data-toggle="dropdown">
            Settings
          </button>
          <div class="dropdown-menu">

            <a class="dropdown-item" href="/accounts/password/change">Change Password</a>
          <a class="dropdown-item" href="/logout">Logout</a>
          
          </div>
        </div>
        
        
        </div>
{%endif%}
</div>

</div>
<h1 style="text-align: center">My Project</h1><br>
<br>
<hr>

<div class="row">
  
    {%for project in projects%}
                <div class="col-md-7">
                    {% if user_profile%}
                    <div class="row">
                      
                      <img src="{{user_profile.profile_pic.url}}" class="img-responsive img-circle" alt="" style="width:50px;height:50px;border-radius:118px;">
                        <h6><strong>{{user_profile.user.username}}</strong></h6>
                    </div>
                    
                    {%endif%}
                    
                    <img src="{{project.image.url}}" class="img-responsive" alt="" style="width: 300px; height: 240px;">
                    <h4 style="text-align: center"><strong>Title:</strong> {{project.title}}</h4>

                    <h6><strong>{{project.user.username}}: </strong>
                        <span>
                          {% autoescape on %}
                                {{project.description| safe}}
                               {% endautoescape %}
                              </span> </h6>

                    <h4>Link to the project: {{project.link_of_site}}</h4>
                          <p style="text-align: center">{{project.pub_date|timesince}}</p>
              
              
        
            
            </div>
                {%endfor%}


  </div>
</div>

     
     
 
   

    {% endblock %}